# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<ul>
    <li>List popular languages for Data Science.</li>
    <li>List of commonly used libraries in datascience</li>
    <li>Arithmatic operations</li>
    <li> Creating basic table </li>
    <li>Creating the ordered list </li>
</ul>

# Some of the popular languages that Data Scientists use are:
<ol>
<li>
    python
    
</li>
<li> R</li>
<li>
   julia
</li>

# Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>Scikit learn</li>
</ol>

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#his will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

## Author 
Pallavi